@import 'prismjs/themes/prism-tomorrow.css';
@import 'prismjs/plugins/line-numbers/prism-line-numbers.css';
@import 'prismjs/plugins/line-highlight/prism-line-highlight.css';

html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
}
.drawerBodyStyle {
    flex: 1 1 auto;
}
.line-highlight {
    margin-top: 16px;
}

a,
a:not(.MuiTab-root):visited {
    font-weight: 400;
}

code[class*='language-'],
pre[class*='language-'],
code[class*='language-'] *,
pre[class*='language-'] * {
    font-family: 'Roboto Mono', monospace !important;
}

pre[class*='language-'] {
    margin: 0;
    padding-left: 1em;
    padding-right: 1rem;
}

/* HIDE INCREMENT/DECREMENT BUTTONS ON NUMBER INPUTS */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}
