{
  "presets": [
    "@babel/react",
    "@babel/env",
    "@babel/typescript"
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "babel-plugin-typescript-to-proptypes"
  ],
  "ignore": [
    "**/*.test.tsx"
  ]
}